<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="analysis">
	<select id="readMain" parameterType="String" resultType="com.sp.app.employee.Employee">
		SELECT e.empNo, e.name, e.email, p.depName
		FROM employee e
		JOIN person_record pr ON e.empNo = pr.empNo
		JOIN department p ON p.depNo = pr.depNo
		WHERE e.empNo = #{empNo} AND pr.state =  1
	</select>

	
	
</mapper>