@charset "UTF-8";

.none {
	font-weight: 600;
	font-size: 22px;
}

#title {
	font-size: 19px;
	font-weight: 600;
} 

.aTag {
	text-decoration: none;
	color: black;
}

.aTag:hover {
	text-decoration: none;
	color: #FF5375;
}

.stationName {
	font-size: 15px;
}

.arrow {
	color: red;
}

.community-list tr {
	height: 60px;
	border-bottom: 1px solid #ccc; 
}

.community-list {
	width: 1100px;
	border-bottom: 1px solid #ccc;  
}