@charset "UTF-8";

.icon {
	color: black;
	margin-left: 30px; 
}

.down {
	color: black;
}

.icon:hover {
	color: #FF5375;
}

.down:hover {
	color: #FF5375;
}

.font {
	font-family: 'Pretendard-Regular';
	font-weight: 700;
	font-size: 21px;
	margin-left: 60px;
	margin-top: 20px;
}

.cal {
	font-weight: 500;
	font-size: 14px;
	color: #787878;
	margin-right: 83px;
}  

.profile {
	border: 1px solid #ccc;
    border-radius: 100%;
    width: 20px;
    height: 20px;
} 

.dep {
	text-decoration: none;
	margin-left: 5px; 
}
	



