@charset "UTF-8";
*{padding:0; margin:0;}
.bg-main{
	background-color: #FF9E9E; 
}
.bg-sub{
	background-color: #FFE1E1;
}
.elipsis{
	text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
}
.nav-box{
	text-overflow: ellipsis;
	color: white;
	font-size: 1.3rem;
	text-decoration: none;
	font-weight: bold;
}
.nav-item{
	margin-right: 1.3rem;
}
.dropdown-item>a{
	text-overflow: ellipsis;
	color: #495057;
	font-size: 1.2rem;
	text-decoration: none;
}

.sidenav-item{
	margin-top: 0.5rem;
}
.round-box{
	height: 100%; 
	border-radius: 1rem 1rem 1rem 1rem / 1rem 1rem 1rem 1rem;
}
.rad-box{
	border-radius: 1rem 1rem 1rem 1rem / 1rem 1rem 1rem 1rem;
}
.nav-item>a:hover{
	color:#9effff;
}
.dropdown-item:hover{
	background-color: #FFE1E1;
}

.dropdown-item:hover a{
	color:white;
	font-weight: bold;
}

.dropdown-item:active{
	background-color: #FF9E9E; 
}
body{
 -ms-overflow-style: none;
 }
tr{
	height: 60px;
}
td,th{
	vertical-align: middle;
}
::-webkit-scrollbar {
  display: none;
}

.scroll{
   -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar{
  display:none;
}
.ck-editor__editable{height: 400px;}
.ck-content{font-size:12px;}
.my-control{
	background: #fff;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}
.my-control2{
	background:#fff;
	padding:0.2rem;
}