@charset "UTF-8";

.nav-box{
	text-overflow: ellipsis;
	color: #4d4d4d;
	font-size: 1.3rem;
	text-decoration: none;
	font-weight: bold;
	
}
a:hover{
	color:#e1f86a;
}
.nav-item{
	margin-top: 2rem;
}
.bg-main{
	background-color: #FF9E9E; 
}
.bg-sub{
	background-color: #FFCAC8;
}