@charset "UTF-8";

.sales {
	font-size: 20px;
	font-weight: 600;
}

.info {
	color: #787878;
	font-size: 16px;
} 
  
.box {
	align-items:center;
	border-radius: 1rem 1rem 1rem 1rem / 1rem 1rem 1rem 1rem;
} 

.data {
	font-size: 25px;
	font-weight: 700;
}

.salesicon { 
	color: #FF5375;
}

.repair {
	font-size: 12px; 
	color: #787878;
	background: #ccc;
	border-radius: 10px;
	padding: 2px;
}