@charset "UTF-8";

.sales {
	font-size: 18px;
	font-weight: 600;
}

.info {
	color: #787878;
	font-size: 16px;  
}   
  
.box {
	align-items:center;
	border-radius: 1rem 1rem 1rem 1rem / 1rem 1rem 1rem 1rem;
} 

.data {
	font-size: 20px;
	font-weight: 700;
}

.salesicon { 
	color: #FF5375;
}

.repair {
	font-size: 12px; 
	color: #787878;
	background: #ccc;
	border-radius: 10px;
	padding: 2px;
}

.subject {
	font-size: 13px; 	
}

.bg-point {
	background: #FF5375;
}

.page-link {
  color: #787878; 
  background-color: #fff;
  border: 1px solid #ccc;
  font-weight: 500;
}

.page-item.active .page-link { 
 z-index: 1;
 color: #555;
 font-weight: bold;
 background-color: #FFE1E1;
 border-color: #ccc;
 
}

.page-link:focus, .page-link:hover {
  color: #000; 
  background-color: #fafafa; 
  border-color: #ccc;
}
 
.board-list-main tr {
	height: 20px;
	font-size: 16px;
}

.gooo:hover {
	color: #FF5375;
}