<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="analysis">
	<select id="totalSales" resultType="Integer">
		SELECT TO_CHAR(NVL(SUM(price), 0), '999,999,999') total_sales
		FROM usageRecord u
		JOIN return r ON u.recordNum = r.recordNum
		WHERE TO_CHAR(return_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="newCustomerCount" resultType="Integer">
		SELECT COUNT(*) newCustomerCount
		FROM customer 
		WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="repairCount" resultType="Integer">
		SELECT COUNT(*) repairCount
		FROM repair 
		WHERE state = '수리대기' OR state = '입고'
	</select>
	
	<select id="rentalCount" resultType="Integer">
		SELECT COUNT(*) rentalCount
		FROM usageRecord u
		JOIN return r ON u.recordNum = r.recordNum
		WHERE TO_CHAR(return_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="damageCount" resultType="Integer">
		SELECT COUNT(*) damageCount
		FROM damage 
		WHERE TO_CHAR(reg_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="usageRankList" resultType="com.sp.app.analysis.Analysis">
		SELECT RANK() OVER (ORDER BY COUNT(*) DESC) AS usageRank, COUNT(*) usageCount, name
		FROM usageRecord u
		JOIN return r ON u.recordNum = r.recordNum
		JOIN station s ON r.stNum = s.stNum
		GROUP BY name
	</select>
	
	<select id="salesRankList" resultType="com.sp.app.analysis.Analysis">
		SELECT * FROM (
		    SELECT RANK() OVER (ORDER BY SUM(price) DESC) AS salesRank, SUM(price) price, zoonName
		    FROM usageRecord u
		    JOIN return r ON u.recordNum = r.recordNum
		    JOIN station s ON r.stNum = s.stNum
		    GROUP BY zoonName
		) 
		WHERE salesRank &lt;= 5
	</select>
	
	<select id="lastDayUsageCount" resultType="com.sp.app.analysis.Analysis">
		SELECT COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 1, 1, 2, 1, 3, 1)) t0,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 4, 1, 5, 1, 6, 1)) t3,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 7, 1, 8, 1, 9, 1)) t6,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 10, 1, 11, 1, 12, 1)) t9,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 13, 1, 14, 1, 15, 1)) t12,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 16, 1, 17, 1, 18, 1)) t15,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 19, 1, 20, 1, 21, 1)) t18,
		  COUNT(DECODE(TO_CHAR(rental_date,'HH24'), 22, 1, 23, 1, 24, 1)) t21
		FROM usageRecord u
		JOIN rental ren ON u.recordNum = ren.recordNum
		WHERE TO_CHAR(rental_date, 'YYYY-MM-DD') = TO_CHAR(SYSDATE-1, 'YYYY-MM-DD')
	</select>
	

	
	
</mapper>