<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">
	<sql id="where-list">
		<if test="condition=='dep'">
			INSTR(depName, #{keyword}) &gt;= 1
		</if>
		<if test="condition=='pos'">
			INSTR(posName, #{keyword}) &gt;= 1
		</if>
		<if test="condition=='name'">
			INSTR(name, #{keyword}) &gt;= 1
		</if>
		<if test="condition=='rank'">
			INSTR(rankName, #{keyword}) &gt;= 1
		</if>
		<if test="condition=='team'">
			INSTR(teamName, #{keyword}) &gt;= 1
		</if>
	</sql>
	
	<select id="empList" parameterType="map" resultType="com.sp.app.employee.Employee">
		SELECT e.EMPNO, name, state, reg_date, depName, posName, rankName, teamName FROM PERSON_RECORD pr 
		LEFT OUTER JOIN employee e ON pr.empNo= e.empNo
		LEFT OUTER JOIN DEPARTMENT d ON d.DEPNO = pr.DEPNO
		LEFT OUTER JOIN POSITION p ON p.POSNO = pr.POSNO
		LEFT OUTER JOIN team t ON t.teamNo = pr.teamNo
		LEFT OUTER JOIN rank r on r.rankNo = pr.rankNo
		<where>
			state = 1
			<if test="keyword != null and keyword != '' ">
				AND <include refid="where-list"/>
			</if>
		</where> 
	</select>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM PERSON_RECORD pr 
		LEFT OUTER JOIN employee e ON pr.empNo=e.empNo
		LEFT OUTER JOIN DEPARTMENT d ON d.DEPNO = pr.DEPNO
		LEFT OUTER JOIN POSITION p ON p.POSNO = pr.POSNO
		<where>
			state = 1 
			<if test="keyword !=null and keyword !=''">
				AND	<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<insert id ="insertApproval" parameterType="approval">
		INSERT ALL 
			INTO e_document (signNum, title, content, formNum, empNo) 
			VALUES (LPAD(e_document_SEQ.NEXTVAL,8,'0'), #{title}, #{content}, #{formNum}, #{empNo})
			
			<if test="ref1 !=null">
				INTO f_approval (signNum, state, empNo) 
				VALUES(LPAD(e_document_SEQ.CURRVAL, 8, '0'), "대기", #{ref1})
			</if>
			
			<if test="ref2 !=null">
				INTO s_approval (signNum, state, empNo)
				VALUES(LPAD(e_document_SEQ.CURRVAL, 8, '0'), "대기", #{ref2})
			</if>
			
			<if test="ref3 !=null">
				INTO t_approval (signNum, state, empNo)
				VALUES(LPAD(e_document_SEQ.CURRVAL, 8, '0'), "대기", #{ref3})
			</if>
			
		SELECT * FROM dual;
	</insert>
	
	<select id="approvalList" parameterType="map" resultType="approval">
		SELECT e.signNum, title, content, form.name, e.empNo, f.state, s.state, t.state  From e_document e 
		LEFT OUTER JOIN doc_record dc ON dc.signNum = e.signNum
		LEFT OUTER JOIN form ON form.formNum = e.formNum
		LEFT OUTER JOIN f_approval f ON e.signNum = f.signNum
		LEFT OUTER JOIN s_approval s ON e.signNum = s.signNum
		LEFT OUTER JOIN t_approval t ON e.signNum = t.signNum
		WHERE e.empNo = {#empNo} OR f.empNo = {#empNo} OR s.empNo = {#empNo} OR t.empNo = {#empNo}
	</select>
</mapper>