<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="insa">

	<insert id="insertAuthority" parameterType="com.sp.app.insa.Insa">
        INSERT INTO employeeAuthority(empNo, authority) VALUES(#{empNo}, 'ROLE_USER')
    </insert>

	<!-- 사원 등록 -->
	<insert id="insertInsa" parameterType="com.sp.app.insa.Insa">
		INSERT INTO employee(empNo, pwd, name, imageFilename, birth, email, addr, tel, enabled, register_date, modify_date, failure_cnt) 
		VALUES (#{empNo}, #{pwd}, #{name}, #{imageFilename, jdbcType=VARCHAR}, #{birth}, #{email}, #{addr}, #{tel}, 1, SYSDATE, SYSDATE, 0) 
    </insert>
    
    <!-- 인사기록 -->
    <insert id="insertInsa2" parameterType="com.sp.app.insa.Insa">
		INSERT INTO person_record(pRecordNum, state, reg_date, rankNo, empNo, depNo, posNo, teamNo) 
		VALUES (#{pRecordNum}, #{state}, SYSDATE, #{rankNo}, #{empNo}, #{depNo}, #{posNo}, #{teamNo}) 
    </insert>
        
    
    <update id="insertInsa3" parameterType="com.sp.app.insa.Insa">
		INSERT ALL
		INTO employee(empNo, pwd, name, birth, email, zip, addr1, addr2, tel, enabled, register_date, modify_date, failure_cnt, startDate, endDate, imageFilename) 
		VALUES (#{empNo}, #{pwd}, #{name}, #{birth}, #{email}, #{zip}, #{addr1}, #{addr2}, #{tel}, 1, SYSDATE, SYSDATE, 0, #{startDate}, #{endDate}, #{imageFilename, jdbcType=VARCHAR}) 
		INTO person_record(pRecordNum, state, reg_date, rankNo, empNo, depNo, posNo, teamNo) 
		VALUES (pRecord_seq.NEXTVAL, 1, SYSDATE, #{rankNo}, #{empNo}, #{depNo}, #{posNo}, #{teamNo}) 
		SELECT * FROM dual     
    </update>
    
    <sql id="where-list">
		<if test="col=='depName'">
			INSTR(depName, #{kwd}) &gt; 0
		</if>
		<if test="col=='empNo'">
			e.empNo = #{kwd} 
		</if>
		<if test="col=='name'">
			INSTR(name, #{kwd}) &gt; 0
		</if>
		<if test="col=='rankName'">
			INSTR(rankName, #{kwd}) &gt; 0
		</if>
	</sql>
            
    <!-- 사원정보 조회 -->
    <select id="readInsa" parameterType="String" resultType="com.sp.app.insa.Insa">
		SELECT e.empNo, name, pwd, imageFilename, TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2, enabled, 
			failure_cnt, TO_CHAR(startDate, 'YYYY-MM-DD') startDate, TO_CHAR(endDate, 'YYYY-MM-DD') endDate, register_date, modify_date, last_login, pr.depNo, d.depName, pr.posNo, p.posName, pr.rankNo, r.rankName, pr.teamNo, t.teamName
		FROM employee e
		JOIN person_record pr ON e.empNo = pr.empNo
		JOIN department d ON pr.depNo = d.depNo
        JOIN position p ON pr.posNo = p.posNo
        JOIN rank r ON pr.rankNo = r.rankNo
        JOIN team t ON pr.teamNo = t.teamNo
		WHERE e.empNo = #{empNo} AND pr.state =  1
	</select>
	
	
	 <select id="listInsa" parameterType="map" resultType="com.sp.app.insa.Insa">
		SELECT e.empNo, name, pwd, imageFilename, TO_CHAR(birth, 'YYYY-MM-DD') birth, email, tel, zip, addr1, addr2, enabled, 
			failure_cnt, TO_CHAR(startDate, 'YYYY-MM-DD') startDate, TO_CHAR(endDate, 'YYYY-MM-DD') endDate, register_date, modify_date, last_login, pr.depNo, d.depName, pr.posNo, p.posName, pr.rankNo, r.rankName, pr.teamNo, t.teamName
		FROM employee e
		JOIN person_record pr ON e.empNo = pr.empNo
		JOIN department d ON pr.depNo = d.depNo
        JOIN position p ON pr.posNo = p.posNo
        JOIN rank r ON pr.rankNo = r.rankNo
        JOIN team t ON pr.teamNo = t.teamNo
        <where>
            <if test= "kwd != null and kwd != '' ">
                <include refid="where-list"/>
            </if>
            AND pr.state =  1
        </where> 
	</select>

	<!-- 사원정보 수정  --> 
    <update id="updateEmployeeEnabled" parameterType="map">
		UPDATE employee SET enabled=#{enabled} WHERE empNo=#{empNo}
    </update>
    
    <update id="updateInsa1" parameterType="com.sp.app.insa.Insa">
		UPDATE employee SET pwd=#{pwd}, modify_date=SYSDATE
		WHERE empNo=#{empNo}
    </update>
    
    <update id="updateInsa2" parameterType="com.sp.app.insa.Insa">
		UPDATE employee SET imageFilename=#{imageFilename, jdbcType=VARCHAR}, birth=#{birth, jdbcType=VARCHAR}, 
			tel=#{tel, jdbcType=VARCHAR}, email=#{email, jdbcType=VARCHAR},  startDate=#{startDate, jdbcType=VARCHAR}, endDate=#{endDate, jdbcType=VARCHAR}
		WHERE empNo=#{empNo}
    </update>
    
   
    <!-- 회원 상태 -->
    <select id="insaState_seq" resultType="Long">
       SELECT employeeState_seq.NEXTVAL FROM dual 
    </select>
    
    <!-- 사원정보 삭제  -->    
    <delete id="deleteInsa" parameterType="String">
		DELETE FROM employee WHERE empNo=#{empNo}
    </delete>
   
   
   
    
    <!-- 파일 -->
    
    <insert id="insertFile" parameterType="com.sp.app.insa.Insa">
		INSERT INTO insaFile(fileNum, empNo, imageFilename, originalFilename, fileSize)
		VALUES(insaFile_seq.NEXTVAL, #{empNo}, #{imageFilename}, #{originalFilename}, #{fileSize})
	</insert>
    
    <select id="listFile" parameterType="Long" resultType="com.sp.app.insa.Insa">
		SELECT fileNum, empNo, imageFilename, originalFilename, fileSize FROM insaFile WHERE empNo = #{empNo}
		
	</select>
    
    <select id="readFile" parameterType="Long" resultType="com.sp.app.insa.Insa">
		SELECT fileNum, empNo, imageFilename, originalFilename, fileSize
		FROM insaFile
	    WHERE fileNum = #{fileNum}      
	</select>
    
    <delete id="deleteFile" parameterType="Long">
		DELETE FROM insaFile WHERE fileNum = #{fileNum}
	</delete>
    
  
    


</mapper>