<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="punching">
	<select parameterType="map" resultType="com.sp.app.punching.Punching" id="clockOnTime">
		select p.empNo, name, TO_CHAR(clock_time,'YYYY-MM-DD HH24:MI:SS') punchOnTime, punch_kind FROM punch_clock p 
		JOIN employee e ON e.empNo = p.empNo
		WHERE p.empNo = #{empNo} 
		AND punch_kind = '출근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD')
	</select>
	
	<insert id="insertClockOn" parameterType="com.sp.app.punching.Punching">
		INSERT INTO punch_clock (clockNo, empNo, punch_kind) VALUES
		(punch_clock_seq.NEXTVAL, #{empNo},'출근')
	</insert>
	
	<select parameterType="map" resultType="com.sp.app.punching.Punching" id="clockOffTime">
		select p.empNo, name, TO_CHAR(clock_time, 'YYYY-MM-DD HH24:MI:SS') punchOffTime, punch_kind FROM punch_clock p 
		JOIN employee e ON e.empNo = p.empNo
		WHERE p.empNo = #{empNo} 
		AND punch_kind = '퇴근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD')
	</select>
	
	<insert id="insertClockOff" parameterType="com.sp.app.punching.Punching">
		INSERT INTO punch_clock (clockNo, empNo, punch_kind) VALUES
		(punch_clock_seq.NEXTVAL, #{empNo},'퇴근')
	</insert>
	<delete id="deleteClockOn" parameterType="com.sp.app.punching.Punching">
		DELETE FROM punch_clock 
		WHERE empNo =  #{empNo} 
		AND punch_kind = '출근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD')   
	</delete>
	<delete id="deleteClockOff" parameterType="com.sp.app.punching.Punching">
		DELETE FROM punch_clock 
		WHERE empNo =  #{empNo} 
		AND punch_kind = '퇴근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD') 
	</delete>
	
</mapper>