<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="punching">
	<select parameterType="map" resultType="com.sp.app.punching.Punching" id="clockOnTime">
		select p.empNo, name, TO_CHAR(clock_time,'YYYY-MM-DD HH24:MI:SS') punchOnTime, punch_kind FROM punch_clock p 
		JOIN employee e ON e.empNo = p.empNo
		WHERE p.empNo = #{empNo} 
		AND punch_kind = '출근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD')
	</select>
	
	<insert id="insertClockOn" parameterType="com.sp.app.punching.Punching">
		INSERT INTO punch_clock (clockNo, empNo, punch_kind) VALUES
		(punch_clock_seq.NEXTVAL, #{empNo},'출근')
	</insert>
	
	<select parameterType="map" resultType="com.sp.app.punching.Punching" id="clockOffTime">
		select p.empNo, name, TO_CHAR(clock_time, 'YYYY-MM-DD HH24:MI:SS') punchOffTime, punch_kind FROM punch_clock p 
		JOIN employee e ON e.empNo = p.empNo
		WHERE p.empNo = #{empNo} 
		AND punch_kind = '퇴근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD')
	</select>
	
	<insert id="insertClockOff" parameterType="com.sp.app.punching.Punching">
		INSERT INTO punch_clock (clockNo, empNo, punch_kind) VALUES
		(punch_clock_seq.NEXTVAL, #{empNo},'퇴근')
	</insert>
	<delete id="deleteClockOn" parameterType="com.sp.app.punching.Punching">
		DELETE FROM punch_clock 
		WHERE empNo =  #{empNo} 
		AND punch_kind = '출근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD')   
	</delete>
	<delete id="deleteClockOff" parameterType="com.sp.app.punching.Punching">
		DELETE FROM punch_clock 
		WHERE empNo =  #{empNo} 
		AND punch_kind = '퇴근'
		AND TO_CHAR(clock_time, 'YYYY-MM-DD') = TO_CHAR(sysdate, 'YYYY-MM-DD') 
	</delete>
	<select id="readDayoff" parameterType="String" resultType="com.sp.app.punching.Punching">
		SELECT * FROM DAYOFF WHERE empNo= #{empNo}
	</select>
	
	<update id="insertDayoff" parameterType="com.sp.app.punching.Punching">
		INSERT INTO Dayoff (empNo, leftQty, totalQty, reqDays, workDays)
		SELECT empNo, CASE	WHEN EXTRACT(YEAR FROM sysDate) - EXTRACT(YEAR FROM startDate)+1 &gt; 1 THEN EXTRACT(YEAR FROM sysDate)-EXTRACT(YEAR FROM startDate)+14 ELSE 0 END as leftQty,
				CASE WHEN EXTRACT(YEAR FROM sysDate) - EXTRACT(YEAR FROM startDate)+1 &gt; 1 THEN EXTRACT(YEAR FROM sysDate)-EXTRACT(YEAR FROM startDate)+14 ELSE 0 END as totalQty,
				TO_date((TO_CHAR(EXTRACT(YEAR FROM sysdate))||'1231'),'YYYYMMDD') - TO_date( TO_CHAR(EXTRACT(YEAR FROM sysdate)-1)||'1231','YYYYMMDD') as reqDays,
				'0' as workDays
		FROM employee 
		WHERE empNo = #{empNo}
	</update>
	<update id="updateDayoff" parameterType="com.sp.app.punching.Punching">
		UPDATE Dayoff 
		SET workDays = #{workDays}, leftQty = #{leftQty}, 
			reqDays= #{reqDays}, workDays=#{workDays}, totalQty = #{totalQty} 
		WHERE empNo = #{empNo}
	</update>
	
	<update id="updateWorkDays" parameterType="com.sp.app.punching.Punching">
		UPDATE Dayoff SET workDays = workDays+1 WHERE empNo = #{empNo}
	</update>
	
	<delete id="deleteDayoff" parameterType="com.sp.app.punching.Punching">
		DELETE FROM Dayoff WHERE empNo = #{empNo}
	</delete>
</mapper>